<script>
    let tax_rate = '<%=cart.tax%>';
</script>
<%if (cart.items !== undefined){%>
    <div class="container row" id="shopping-cart" hidden>
        <% for (let item of cart.items){%>
         <div class="container row cart-item">
                 <div class="col">
             <h6 class="cart-name"><%=item.name%></h6>
             <img src="<%=item.img%>" alt="" class="shopping-cart-img">
             <h6 class="cart-price">$<%=item.price%></h6>
                 </div>
             <div class="col row text-center qty-div" id="<%=item.id%>">
                 <h6 class="">Qty</h6>
                 <div class="row qty-num">
                     <h5 class="qty col qty-subtract-btn">-</h5>
                 <p class="qty col qty-total"><%=item.qty%></p>
                 <h5 class="qty col qty-add-btn">+</h5>
                     </div>
                  <form action="http://localhost:3001/shop/<%=currentUser.id%>/cart/qty" method="POST">
                     <input type="text" name="action" value="cart-remove" hidden>
                     <input type="text" name="cart_item_id" value="<%=item.id%>" hidden>
                     <button class="btn btn-danger cart-remove"><span class="cart-remove-text">Remove</span></button>
                 </form>
             </div>
         </div>
         <%}%>
         <h6 id="cart-total">$<%=cart.total%></h6>
         
             <button type="submit" class="btn-close" aria-label="Close" id="shopping-cart-close-btn"></button>
     </div>
<%}%>
