<script>
    let categorySub = '<%=currentItem.category.sub%>'.split(',');
    let categoryMain = '<%=currentItem.category.main%>';
</script>
<div class="container row" id="update-popup-div" hidden>
    <div class="col">
    <form action="http://localhost:3001/user/<%=currentUser.id%>/item/<%=currentItem.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row create-input-div">
    <input type="text" name="name" placeholder="<%=currentItem.name%>" class="mt-2 create-item-input">
    <input type="text" name="price" placeholder="<%=currentItem.price%>" class="mt-2 create-item-input">
    <input type="text" name="description" placeholder="<%=currentItem.description%>" class="mt-2 create-item-input">
    <input type="file" name="img" class="mt-2 create-item-input" multiple>
    </div>
    <div class="mt-3">
        <h5>Main Category</h5>
        Clothing
        <input type="radio" name="cat[main]" value="clothing" class="update-item-radio">
        Grocery
        <input type="radio" name="cat[main]" value="grocery" class="update-item-radio">
        Home
        <input type="radio" name="cat[main]" value="home" class="update-item-radio">
        Electronics
        <input type="radio" name="cat[main]" value="electronics" class="update-item-radio">
        DIY
        <input type="radio" name="cat[main]" value="DIY" class="update-item-radio">
        Toys
        <input type="radio" name="cat[main]" value="toys" class="update-item-radio">
    </div>
    <div class="mt-3">
    <h5>Sub-Category</h5>
    Men
    <input type="checkbox" name="cat[sub][]" value="masc" class="update-item-checkbox">
    Women
    <input type="checkbox" name="cat[sub][]" value="fem" class="update-item-checkbox">
    Novelty
    <input type="checkbox" name="cat[sub][]" value="novelty" class="update-item-checkbox">
    Vintage
    <input type="checkbox" name="cat[sub][]" value="vintage" class="update-item-checkbox">
    Old
    <input type="checkbox" name="cat[sub][]" value="old" class="update-item-checkbox">
    New
    <input type="checkbox" name="cat[sub][]" value="new" class="update-item-checkbox">
    Classic
    <input type="checkbox" name=cat[sub][]" value="classic" class="update-item-checkbox">
    Modern
    <input type="checkbox" name="cat[sub][]" value="modern" class="update-item-checkbox"f>
    </div>
    <div id="update-img-div" class="mt-3 row">
        <h5>Images to Delete</h5>
    <% currentItem.img.forEach(function (element, index) {%>
    <div class="col update-img">
        <img src="<%=element.path%>" class="update-popup-img" alt="">
            <input type="checkbox" value="<%=element.filename%>" name="img[]">
    </div>
    <%})%>
</div>
    <button type="submit" class="btn btn-primary mt-3">Update Item</button>
    </form>
    </div>
    <div>
        <button id="cancel-update-btn" class="btn btn-danger">Cancel</button>
    </div>
    </div>