
<div class=" container row " >
    <div class="col">
    <div class="row col" id="item-div">
        <div class="row">
    <h1 class="display-3 col"><%=currentItem.name%></h1>
        <h1 class="display-6 col" id="item-page-price">$<%=currentItem.price%></h1>
        </div>
    <div class="row ">
    <img src="<%=currentItem.img[0].path%>" id="item-page-img" alt="">
    <p id="item-page-desc"><%=currentItem.description%></p>
    </div>
    </div>
    <div id="customer-eng">
        <div class="row container">
            <div class="col">
                <h1 class="display-6">Reviews</h1>
                <p id="item-page-avg-rating">Avg. Rating: <%=currentItem.averageRating%></p>
            </div>
            <div class="row col filter-btns">
                <h6>Filter</h6>
                    <button id="low" class="filter-btn col" type="submit">Low/High</button>
                    <button id="high" class="filter-btn col" type="submit">High/Low</button>
            </div>
        </div>
        
        <div class="container row" id="all-reviews-high">
            <%for (let review of allReviewsHigh){%>
            <div class="row">
                <h5 class="review-author-name"><%=review.author.name%></h5>
                <div class="row">
                <%for (let i = 0; i < review.rating; i++){%>
                   <span class="col star">&starf;</span> 
               <%}%>
            </div>
                <p class="review-body"><%=review.body%></p>
            </div>
            <%}%>
        </div>
        <div class="container row" id="all-reviews-low">
            <%for (let review of allReviewsLow){%>
            <div class="row">
                <h5 class="review-author-name"><%=review.author.name%></h5>
                <div class="row">
                <%for (let i = 0; i < review.rating; i++){%>
                   <span class="col star">&starf;</span> 
               <%}%>
            </div>
                <p class="review-body"><%=review.body%></p>
            </div>
            <%}%>
        </div>
    </div>
    </div>
    <%-include('./partials/shoppingCart')%>