
<div class=" container row " >
    <div class="col">
    <div class="row col" id="item-div">
        <div class="row">
    <h1 class="display-3 col"><%=currentItem.name%></h1>
        <h1 class="display-6 col" id="item-page-price">$<%=currentItem.price%></h1>
        </div>
    <div class="row" >
        <div class="col">
            <img src="<%=currentItem.img[0].path%>" id="item-page-img" alt="" class="col">
        </div>
    <div class="col" id="item-desc-div" hidden>
        <h4 id="item-desc-header" class="">Item Description</h4>
        <p id="item-page-desc" class=""><%=currentItem.description%></p>
    </div>
    <div class="col" id="item-desc-btn-div">
        <button class="btn btn-success" id="item-desc-btn">Click for Item Description</button>
    </div>
    </div>
    </div>
    <div id="customer-eng">
        <div class="row container">
            <div class="col" id="review-header">
                <h1 class="display-6" >Reviews</h1>
                <p class="" id="item-page-avg-rating">Avg. Rating: <%=Math.round(currentItem.averageRating)%></p>
            </div>
            <div class="row col filter-btns">
                <h6>Filter</h6>
                    <button id="low" class="filter-btn col" type="submit">Low/High</button>
                    <button id="high" class="filter-btn col" type="submit">High/Low</button>
            </div>
        </div>
        <div class="row container">
            <div class="col">
        <div class="row col all-reviews" id="all-reviews-high">
            <%for (let review of allReviewsHigh){%>
            <div class="row">
                <h5 class="review-author-name"><%=review.author.name%></h5>
                <div class="row">
                <%for (let i = 0; i < review.rating; i++){%>
                   <span class="col star">&starf;</span> 
               <%}%>
            </div>
                <p class="review-body"><%=review.body%></p>
            </div>
            <%}%>
        </div>
        <div class="row col all-reviews" id="all-reviews-low" hidden>
            <%for (let review of allReviewsLow){%>
            <div class="row">
                <h5 class="review-author-name"><%=review.author.name%></h5>
                <div class="row">
                <%for (let i = 0; i < review.rating; i++){%>
                   <span class="col star">&starf;</span> 
               <%}%>
            </div>
                <p class="review-body"><%=review.body%></p>
            </div>
            <%}%>
        </div>
        <%if (currentReview === undefined){%>
            <%-include('./partials/reviewForm')%>
        <%}%>
    </div>
    <%if (currentReview !== undefined){%>
        <div class="col" id="user-review">
            <h3>Your Review</h3>
            <div class="row">
                <h5 class="review-author-name"><%=currentReview.author.name%></h5>
                <div class="row">
                <%for (let i = 0; i < currentReview.rating; i++){%>
                   <span class="col star">&starf;</span> 
               <%}%>
            </div>
                <p class="review-body"><%=currentReview.body%></p>
            </div>
            <div class="row">
                <form action="http://localhost:3001/shop/<%=currentUser.id%>/<%=currentItem.category.main%>/<%=currentItem.id%>/review/<%=currentReview.id%>?_method=DELETE" method="POST">
                <button class="col btn btn-danger review-btn"><span class="review-btn-text">Delete</span></button>
            </form>
            <%-include('./partials/reviewEditForm')%>
                <button class="col btn btn-primary review-btn" id="edit-review-decoy"><span class="review-btn-text">Edit</span></button>
            </div>
        </div>
    <%}%>
    
        </div>
        
    </div>
    </div>
